@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap');

/* Box Model Hack */
*{
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: black;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 100;
    line-height: 2;
}
  
body {
    text-align: center;
    background: rgb(236, 202, 150);
    height: auto;
    
}

  /* LAYOUT*/

  h1 {
    font-size: 3rem;
    font-weight: bold;
    color: rgb(13, 95, 136);
  }

.mainPokeSection {
    height: 140rem;
    margin: 0 4rem;
    background: url('https://images.unsplash.com/photo-1531525797753-909788106ccb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1160&q=80');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.introText {
    font-size: 1.8rem;
    font-weight: 400;
    padding: 4rem 0;
    max-width: 70rem;
    text-align: center;
    margin: 0 auto;
}

input, button {
    display: inline-block;
    width: 20rem;
    text-align: center;
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    z-index: 2;
    position: relative;
}

input {
    border-radius: 10px 0 0 10px;
    border: 1px solid rgb(236, 202, 150);
    background: none;
}

::placeholder {
    color: white;
}

::-ms-input-placeholder {
    color: white;
}

input:focus {
    border: 1px solid rgb(236, 202, 150);
    box-shadow: 5px 0 10px rgb(236, 202, 150);
    background: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

input[type=text]:focus {
    color: rgb(13, 95, 136);
}

button {
    color: rgb(13, 95, 136);
    background: rgb(236, 202, 150);
    border: 1px solid rgb(236, 202, 150);
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    margin-left: -0.4%;
    
}

button:hover {    
    background: white;
    color: rgb(13, 95, 136);
    border: 1px solid rgb(236, 202, 150);
    box-shadow: 5px 0 10px rgb(236, 202, 150);
}

/* #autocompleteResults {
    max-width: 25rem;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    z-index: 4;
    border: 1px solid white;

} */

div {
    height: 50rem;
    width: 90%;
    margin: 5.6rem auto 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

img {
    display: block;
    margin: 0 auto;
    width: 25rem;
    height: 24rem;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    background: rgb(236, 202, 150);
    object-fit: cover;
}
