@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap');

/* Box Model Hack */
*{
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: black;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 100;
    line-height: 2;
    letter-spacing: 0.3rem;
}
  
body {
    text-align: center;
    background: none;
    height: auto;
}

  /* LAYOUT*/

/* HEADER */

.headerFlex {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 3rem 0 0 0;
    height: auto;

    
    /* border: 1px solid red; */
}

.headerTitle {
    width: 30%;
    justify-content: flex-start;
    margin: 0 0 0 4rem;
    padding: 0;

    /* border: 1px solid blue; */
}

.headerList {
    width: 70%;
    margin: 0;
    justify-content: flex-end;
    align-items: center;

    /* border: 1px solid blue; */
}

/* h1 {
    display: flex;
    padding: 0;
    margin: 0;
    max-width: 22rem;

} */

.logoImage img {
    width: 100%;
    z-index: 4;
}

.footerImage {
    width: 100%;
}

.bottomLogo {
    margin: 0 auto;
}
.bottomLogo img{
    max-width: 20rem;
    margin: 0 auto;
}

.headerList ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    margin-right: 4rem;
    padding: 0;
    width: 70%;
    background: none;


}

ul li {
    /* margin-right: 2rem; */
    list-style: none;
    font-size: 2rem;
    font-weight: 600;
}

li a {
    text-decoration: none;
    color:#00739A;
    padding: 1.4rem 2rem;
    border-radius: 10px;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;

}

li a:hover {
    transform: scale(1.05);
    background-color: #00739A;
    color: white;
}

/* MAIN */

.mainPokeSection, .pokemonStatsSection {
    height: 100%;
    margin: 0 4rem;
    background: #00739A;
    border-radius: 10px;
    
}

.introHeader {
    font-size: 3rem;
    padding: 8rem 0 0 0;
    
    color: #EFFFFA;
}

.introText {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.4;
    padding: 0 4rem 2rem;
    max-width: 100rem;
    text-align: center;
    margin: 0 auto;
    color: white;
}

.topText {
    padding-top: 4rem;
}

.bottomText {
    padding-bottom: 4rem;
}

/* Search */

.headerSearch {
    padding: 0;
    margin-bottom: 4rem;
    color: white;
    font-size: 2rem;
    font-weight: 500;
}

input, button {
    display: inline-block;
    width: 25rem;
    text-align: center;
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    z-index: 2;
    position: relative;
}

input {
    border-radius: 10px 0 0 10px;
    border: 1px solid rgb(236, 202, 150);
    background: none;
    color: white;
}

::placeholder {
    color: white;
}

::-ms-input-placeholder {
    color: white;
}

input:focus {
    border: 1px solid rgb(236, 202, 150);
    box-shadow: 5px 0 10px rgb(236, 202, 150);
    background: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

input[type=text]:focus {
    color: #00739A;
}

button {
    font-weight: bold;
    color: #00739A;
    background: rgb(236, 202, 150);
    border: 1px solid rgb(236, 202, 150);
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    margin-left: -0.6%;
    
}

button:hover {    
    background: white;
    color: #00739A;
    border: 1px solid rgb(236, 202, 150);
    box-shadow: 5px 0 10px rgb(236, 202, 150);
}

div {
    /* height: 50rem; */
    width: 90%;
    margin: 5.6rem auto 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

/* Pokemon images */

.pokeImagesSection {
    max-width: 80rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.pokemonImageBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemonImage {
    margin: 0 auto;
    width: 25rem;
    height: 24rem;
    object-fit: cover;
    border-radius: 10px;
}

.pokemonDefault, .pokemonShiny {
    margin-top: 3rem;
    font-size: 2.2rem;
    font-weight: 500;
    color: white;
    
}

/*  */

.statsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40rem;
    margin: 10rem auto;

    /* border: 1px solid white; */
  }
  
.statsInformation {
    width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0 !important;
    padding: 10rem 0;
    border-top: 1px solid rgb(236, 202, 150);
    border-bottom: 1px solid rgb(236, 202, 150);
}
  
.statsRow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 0 !important;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    
    

    /* border: 1px solid red; */
}
  
.statsLabel {
    width: 50%;
    margin-right: 1rem;
    justify-content: flex-end;
    color: rgb(236, 202, 150);

    margin-top: 0 !important;

    /* border: 1px solid yellow; */
}

.statsLabel h3 {
    margin-top: 0;
}

.statsUl {
    width: 50%;
    justify-content: flex-start;
    color: white;

    margin-top: 0 !important;

    /* border: 1px solid black; */
}
  
.statsUl ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-left: 1rem;
}

.apiInfo {
    word-wrap: break-word;
}
  

/*  */

.pokemonDiv {
    background: url('https://images.unsplash.com/photo-1531525797753-909788106ccb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1160&q=80');
    height: 40rem;
    max-width: 40rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 4rem;
}


/* Stats */

.statsTopDiv {
    /* max-width: 80rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    margin-top: 4rem;
    color: white;

    /* border: 1px solid red; */

}

.statsLeftBox, .statsRightBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* max-width: 30rem; */
    font-size: 1.6rem;
    /* border: 1px solid white; */
}

.statsLeftBox {
    justify-content: center;
    align-items: flex-end;
    color: rgb(236, 202, 150);
    margin-right: 2rem;
    
}

/* Footer */

.footerList ul {
    display: flex;
    padding-left: 0;

}

.footerList ul li {
    font-size: 1.2rem;
}

.copyrightFooter {
    font-weight: 500;
    margin-bottom: 4rem;
}

.copyrightFooter a {
    text-decoration: none;
    color: black;
    transition: 1s all ease-in-out;
    padding: 1rem 0.5rem;
    border-radius: 10px;
}

.copyrightFooter a:hover {
    color: white;
    background: #00739A;
    font-weight: 400;
    transform: scale(1.1);
    
}

/* Media queries */

@media screen and (max-width: 860px) {
    .pokeImagesSection, .footerList ul {
        flex-direction: column;
    }

    .footerList ul li{
        padding-bottom: 2rem;
    }

}

@media screen and (max-width: 650px) {
    

}