/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Press+Start+2P&display=swap');
/* Box Model Hack */
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: black;
    font-family: "Inter", sans-serif;
    font-weight: 100;
    line-height: 2;
    letter-spacing: 0.3rem;
}
  
body {
    text-align: center;
    background: none;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Press Start 2P", sans-serif;
}

/* -- ROOT -- */

:root {
    --charcoal-black: #0d0d0d;
    --deep-charcoal: #131315;
    --light-beije: #f5f5dc;
    --soft-orange: #ff914d;
    --vibrant-orange: #ff7b29;
    --lighter-black: #1f1f1f;
    --muted-yellow: #f1c40f;
    
    --inter: "Inter", sans-serif;
    --press: "Press Start 2P", sans-serif;
}

  /* LAYOUT*/

/* GLOBAL */

.hide {
    display: none !important;
}

header,
main,
footer {
    display: flex;
    justify-content: center;
    padding: 0px 50px;
    background: var(--charcoal-black);
}

/* HEADER */

.headerFlex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 2rem 0;
    height: auto;
}

.headerTitle {
    width: 200px;
    justify-content: flex-start;
    padding: 0;
}

.headerList {
    width: 70%;
    margin: 0;
    justify-content: flex-end;
    align-items: center;
}

.logoImage {
    position: relative;
    height: 85px;
    width: 170px;
}

.logoImage img {
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footerImage {
    width: 100%;
    margin-top: 40px;
}

.bottomLogo {
    margin: 0 auto;
}
.bottomLogo img{
    max-width: 20rem;
    margin: 0 auto;
}

/* Nav */

.headerList ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    padding: 0;
    width: auto;
    background: none;
}

ul li {
    list-style: none;
    font-size: 16px;
    font-weight: 600;
}

li a {
    text-decoration: none;
    color: var(--vibrant-orange);
    padding: 1.4rem 2rem;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;

}

li a:hover {
    transform: scale(1.05);
    background-color: #00739A;
    color: white;
}

.navButton {
    position: absolute;
    top: 3.5rem;
    right: 2.2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    z-index: 10;
}
  
.navButton .bar {
    height: 3px;
    width: 100%;
    background: #00739A;
    border-radius: 10px;
}
  
.navButton:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

/* MAIN */

.main-outer-layer {
    width: 100%;
    max-width: 1400px;
}

/* .main-section {
    padding: 4px;
    border: 1px solid #00739A;
} */

.mainPokeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainPokeSection, .pokemonStatsSection {
    height: 100%;
    background: var(--deep-charcoal);
    /* border-radius: 10px; */
}

.introHeader {
    font-size: 3rem;
    padding: 8rem 0 0 0;
    color: var(--vibrant-orange);
}

.introText {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.4;
    padding: 0 4rem 2rem;
    max-width: 140rem;
    text-align: center;
    margin: 0 auto;
    color: var(--light-beije);
}

.topText {
    padding-top: 4rem;
}

.bottomText {
    padding-bottom: 4rem;
}

/* Search */

.headerSearch {
    padding: 0;
    margin-bottom: 4rem;
    color: var(--vibrant-orange);
    font-size: 2.2rem;
    font-weight: 600;
}

.fetchInput {
    width: 60rem;
    margin-bottom: 30px;
}

input, button {
    display: inline-block;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
    z-index: 2;
    position: relative;
}

input {
    border-radius: 10px 0 0 10px;
    border: 1px solid var(--vibrant-orange);
    background: none;
    color: white;
}

::placeholder {
    color: white;
}

::-ms-input-placeholder {
    color: white;
}

input:focus {
    border: 1px solid var(--soft-orange);
    outline: none;
    box-shadow: 5px 0 10px #FFC1A1;
    background: var(--light-beije);
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;

}

input[type=text]:focus {
    color: var(--soft-orange);
}

button {
    font-weight: bold;
    color: var(--light-beije);
    background: var(--vibrant-orange);
    border: 1px solid var(--vibrant-orange);
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    
}

button:hover {    
    background: var(--light-beije);
    color: var(--vibrant-orange);
    border: 1px solid var(--vibrant-orange);
    box-shadow: 5px 0 10px var(--vibrant-orange);
}

div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

/* Pokemon images */

.pokeImagesSection {
    width: 60rem;
    gap: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pokemonImageBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemonImage {
    margin: 0 auto;
    width: 25rem;
    height: 24rem;
    object-fit: cover;
    border-radius: 10px;
}

.pokemonDefault, .pokemonShiny {
    margin-top: 3rem;
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--light-beije);
    
}

/* Error message */
.errorDiv {
    padding: 0;
    margin: 0 !important;
    width: 100%;
}

.errorMessage {
    color: red;
    font-size: 2.2rem;
    font-weight: bold;
    margin: 0 auto;
}

/*  */

.statsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40rem;
    margin: 10rem auto;
}
  
.statsInformation {
    width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0 !important;
    padding: 10rem 0;
    border-top: 1px solid var(--vibrant-orange);
    border-bottom: 1px solid var(--vibrant-orange);
}
  
.statsRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 0 !important;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    text-align: right;
}
  
.statsLabel {
    width: 50%;
    margin-right: 1rem;
    justify-content: flex-end;
    color: var(--soft-orange);
    margin-top: 0 !important;
}

.statsLabel h3 {
    margin-top: 0;
}

.statsUl {
    width: 50%;
    justify-content: flex-start;
    align-items: flex-end;
    color: var(--light-beije);
    height: 100%;
    margin-top: 0 !important;
}
  
.statsUl ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-left: 1rem;
}

.apiInfo {
    word-wrap: break-word;
}

.type-normal, .type-fire, .type-water, .type-electric, .type-grass, .type-ice, .type-fighting, .type-poison, .type-ground, .type-flying, .type-psychic, .type-bug, .type-rock, .type-ghost, .type-dragon, .type-dark, .type-steel, .type-fairy {
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
}

/* Normal Type */
.type-normal {
    background-color: #A8A77A;

}
  
  /* Fire Type */
.type-fire {
    background-color: #EE8130;

}
  
  /* Water Type */
.type-water {
    background-color: #6390F0;

}
  
  /* Electric Type */
.type-electric {
    background-color: #F7D02C;

}
  
  /* Grass Type */
.type-grass {
    background-color: #7AC74C;

}
  
  /* Ice Type */
.type-ice {
    background-color: #96D9D6;

}
  
  /* Fighting Type */
.type-fighting {
    background-color: #C22E28;

}
  
  /* Poison Type */
.type-poison {
    background-color: #A33EA1;
}
  
  /* Ground Type */
.type-ground {
    background-color: #E2BF65;
}
  
  /* Flying Type */
.type-flying {
    background-color: #626cda;
}
  
  /* Psychic Type */
.type-psychic {
    background-color: #F95587;
}
  
  /* Bug Type */
.type-bug {
    background-color: #A6B91A;
}
  
  /* Rock Type */
.type-rock {
    background-color: #B6A136;
}
  
  /* Ghost Type */
.type-ghost {
    background-color: #735797;
}
  
  /* Dark Type */
.type-dark {
    background-color: #705746;
}
  
  /* Steel Type */
.type-steel {
    background-color: #B7B7CE;
}
  
  /* Fairy Type */
.type-fairy {
    background-color: #D685AD;
}
  
  /* Dragon Type */
.type-dragon {
    background-color: #6F35FC;
}


.pokemonDiv {
    /* background: url('https://images.unsplash.com/photo-1531525797753-909788106ccb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1160&q=80'); */
    height: 400px;
    width: 400px;
    margin-bottom: 4rem;
    position: relative;
}

.gameboy-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}


/* Stats */

.statsTopDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    margin-top: 4rem;
    color: white;
}

/* Footer */

.footerList ul {
    display: flex;
    padding-left: 0;

}

.footerList ul li {
    font-size: 1.2rem;
}

.copyrightFooter {
    font-weight: 500;
    margin-bottom: 4rem;
    color: white;
}

.copyrightFooter a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in-out;
}

.copyrightFooter a:hover {
    color: #00739A;
    border-bottom: 1px solid #00739A;
}

/* Media queries */

@media screen and (max-width: 860px) {
    .pokeImagesSection, .footerList ul {
        flex-direction: column;
    }

    .footerList ul li{
        padding-bottom: 2rem;
    }

}

@media screen and (max-width: 680px) {

    .headerFlex {
        display: inline-block;
    }

    .topLogo {
        position: absolute;
        max-width: 19rem;
        left: 2rem;
    }

    .navLinks {
        display: none;
        padding: 0;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        transition: all 0.3s ease-in-out;
    }
    
    .headerList ul {
        
        display: flex;
        flex-direction: column;
        margin-right: 0;
        
    }
    
    .navLinks.active{
        position: absolute;
        width: 100%;
        margin-top: 8rem;
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        height: auto;
        background: white;
        border-top: 2px solid #00739A;
    }
    
    .navLinks.active li {
        text-align: center;
        margin: 0.6rem auto;
    }
    
    .navLinks.active li a {
        padding: 1rem;
    }
    
    .navLinks.active {
        display: flex;
    }
    
    .navLinks span {
        display: none;
    }
    
    .navButton {
        display: flex;
        margin: 1rem 0;
    }
    
    .navButton:hover {
        border: none;
    }

    .mainPokeSection {
        margin: 8rem 0;
    }

    .introText {
        padding: 0 2rem 2rem;
    }

    .fetchInput {
        max-width: 25rem;
        display: flex;
        flex-direction: column;
    }

    input {
        border-radius: 10px 10px 0 0;
    }

    button {
        border-radius: 0 0 10px 10px;
        margin-left: 0;
    }

}